html {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, Helvetica,Arial, sans-serif;
    overflow-wrap: break-word;

    margin: 0;
    padding: 16px;
}

blockquote {
    padding: 0.2em 1.2em !important;
    margin: 0 !important;
    border: 3px solid var(--kmail-primary-color) !important;
    border-width: 0 0 0 2px !important;
}

blockquote blockquote blockquote blockquote {
    padding: 0 !important;
    border: none !important;
}

table.munged {
    width: auto !important;
    table-layout: auto !important;
}

td.munged {
    width: auto !important;
    white-space: normal !important;
}
