body {
    font-family: -apple-system, Helvetica,Arial, sans-serif;
    overflow-wrap: break-word;
}

blockquote {
    padding: 0.2em 1.2em !important;
    margin: 0 !important;
    border: 3px solid blue !important;
    border-width: 0 0 0 2px !important;
}

blockquote blockquote blockquote blockquote {
    padding: 0 !important;
    border: none !important;
}
