name: Auto Author Assign

on:
  pull_request_target:
    types: [ opened, reopened ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: write

jobs:
  assign-author:
    uses: infomaniak/.github/.github/workflows/auto_author_assign.yml@v1
