name: CI workflow

on:
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
  
jobs:
  build:
    name: Build and Test project
    runs-on: [ self-hosted, iOS ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8
        with:
          cache: false
          experimental: true
      - name: Create test env
        env:
          ENV_PATH: "MailTests/Env.swift"
          UI_ENV_PATH: "MailUITests/Env.swift"
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          USER_ID: ${{ secrets.USER_ID }}
          MAILBOX_ID: ${{ secrets.MAILBOX_ID }}
          MAILBOX_UUID: ${{ secrets.MAILBOX_UUID }}
        run: |
          touch $ENV_PATH
          echo -e "enum Env {\n static let token = \"$ACCESS_TOKEN\"\n static let userId = $USER_ID\n static let mailboxId = $MAILBOX_ID\n static let mailboxUuid = \"$MAILBOX_UUID\"\n}" > $ENV_PATH
          touch $UI_ENV_PATH
          echo -e "enum Env {\n static let testAccountEmail = \"\"\n static let testAccountPassword = \"\"\n}" > $UI_ENV_PATH
      - name: Generate
        run: tuist install && tuist generate
      - name: Check implicit imports
        run: tuist inspect implicit-imports
      - name: Build
        run: tuist build --clean "Infomaniak Mail"
      - name: Unit and Integration Tests
        run: tuist test Mail-Workspace --skip-test-targets MailUITests/MailUITests --no-selective-testing
