name: Periphery

on: pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  periphery:
    uses: infomaniak/.github/.github/workflows/periphery.yml@v1
    with:
      setup_step: |
        echo -e "enum Env {\n static let token = \"\"\n static let userId = 0\n static let mailboxId = 0\n static let mailboxUuid = \"\"\n}" > MailTests/Env.swift;
        echo -e "enum Env {\n static let testAccountEmail = \"\"\n static let testAccountPassword = \"\"\n}" > MailUITests/Env.swift;
