name: SwiftFormat

on:
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: SwiftFormat
    runs-on: [ self-hosted, iOS ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: jdx/mise-action@v3.6.1
        with:
          cache: false
          experimental: true
      - name: SwiftFormat
        run: swiftformat --lint . --reporter github-actions-log
