name: UI Tests

on:
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: UI Tests
    runs-on: [ self-hosted, iOS ]

    steps:
      - uses: jdx/mise-action@v2
        with:
          cache: false
          experimental: true
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create test env
        env:
          ENV_PATH: "MailUITests/Env.swift"
          UITEST_ACCOUNT_EMAIL: ${{ secrets.UITEST_ACCOUNT_EMAIL }}
          UITEST_ACCOUNT_PASSWORD: ${{ secrets.UITEST_ACCOUNT_PASSWORD }}
        run: |
          touch $ENV_PATH
          echo -e "enum Env {\n static let testAccountEmail = \"$UITEST_ACCOUNT_EMAIL\"\n static let testAccountPassword = \"$UITEST_ACCOUNT_PASSWORD\"\n}" > $ENV_PATH
      - name: Setup
        run: tuist install && tuist generate --no-open
      - name: UITest
        run: tuist test Mail-Workspace --device "iPhone 17 Pro" --test-targets "MailUITests/MailUITests"
